/upsglam\_backend/HELP.md
/upsglam\_backend/target/
!/upsglam\_backend/.mvn/wrapper/maven-wrapper.jar
!/upsglam\_backend/src/main/**/target/
!/upsglam\_backend/src/test/**/target/
/upsglam\_backend/.apt\_generated
/upsglam\_backend/.classpath
/upsglam\_backend/.factorypath
/upsglam\_backend/.project
/upsglam\_backend/.settings
/upsglam\_backend/.springBeans
/upsglam\_backend/.sts4-cache
/upsglam\_backend/.idea
/upsglam\_backend/*.iws
/upsglam\_backend/*.iml
/upsglam\_backend/\*.ipr
/upsglam\_backend/nbproject/private/
/upsglam\_backend/nbbuild/
/upsglam\_backend/dist/
/upsglam\_backend/nbdist/
/upsglam\_backend/.nb-gradle/
/upsglam\_backend/build/
!/upsglam\_backend/src/main/**/build/
!/upsglam\_backend/src/test/**/build/
/upsglam\_backend/.vscode/
/upsglam\_backend/src/main/resources/application.properties
/upsglam\_backend/src/main/resources/serviceAccountKey.json
/upsglam\_backend/target/classes/application.properties
/upsglam\_backend/target/classes/serviceAccountKey.json



/upsglam/**/*.class
/upsglam/**/*.log
/upsglam/**/*.pyc
/upsglam/**/*.swp
/upsglam/.DS_Store
/upsglam/.atom/
/upsglam/.build/
/upsglam/.build/
/upsglam/.buildlog/
/upsglam/.buildlog/
/upsglam/.history
/upsglam/.svn/
/upsglam/.swiftpm/
/upsglam/migrate_working_dir/
/upsglam/**/*.iml
/upsglam/**/*.ipr
/upsglam/**/*.iws
/upsglam/.idea/
/upsglam/**/doc/api/
/upsglam/**/ios/Flutter/.last_build_id
/upsglam/.dart_tool/
/upsglam/.flutter-plugins
/upsglam/.flutter-plugins-dependencies
/upsglam/.pub-cache/
/upsglam/.pub/
/upsglam/build/
/upsglam/app.*.symbols
/upsglam/app.*.map.json
/upsglam/android/app/debug
/upsglam/android/app/profile
/upsglam/android/app/release
